.apoiar {
    position: relative;
}

.apoiar-paragrafo {
    margin-top: 2rem;
    text-align: center;
    font-size: var(--FS-M);
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--cor-terciaria);
}

.apoiar__titulo {
    font-size: clamp(1.6rem, 3vw, 2.3rem);
    text-align: center;
    margin-bottom: 2.5rem;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.apoiar__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.apoiar__box {
    color: white;
    background-color: rgb(41, 3, 3);
    width: 20rem;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.apoiar__box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.apoiar__box h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.apoiar__box p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}

.btn-missoes {
    color: white;
    text-transform: uppercase;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    min-height: 50px;
    transition: all 0.3s ease;
}

.mp-checkout-pro-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #009ee3;
}